html, body {
    padding: 0px;
    margin: 0px;
    color: #eee;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    background-color: #111;
}

nav {
    display: grid;
    background-color: #222;
    height: 45px;
}

.contentwrapper {
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw;
    overflow-x: auto;
    margin-top: 40px;
    height: calc(100vh - 85px)
}

section {
    overflow-y: auto;
}

.content {
    width: auto;
    padding-right: 150px;
    padding-left: 150px;
    background-color: #222;
    min-height: calc(100% - 20px) ;
}

.formwrapper {
    display: grid;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    background-color: #333;
    height: calc(100% - 75px);
}

.form {
    background-color: #444;
}

.illustration {
    background-color: #444;
}

.header {
    display: flex;
    flex-direction: row;
    height: 35px;
    background-color: #333;
    align-items: center;
}

.businesswrapper {
    margin-top: 20px;
    background-color: #333;
    display: grid;
    grid-auto-rows: 365px;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
}


.botd {
    background-color: #444;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.botdImg {
    background-color: #eee;
}

.botdContent {
    margin: 20px;
}

.botdContent h2 {
    font-weight: 900;
}

.botdContent p {
    max-width: 50%;
    font-weight: 300;
}

.business {
    background-color: #444;
    display: grid;
    grid-template-columns: 60% 40%;
}

.businessImg {
    background-color: #eee;
}

.businessContent {
    margin: 20px;
}

.businessContent h2 {
    font-weight: 900;
    margin: 0px;
}

.businessContent p {
    font-weight: 300;
}

.principlewrapper {
    display: grid;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #333;
    height: calc(100% - 75px);
}

.principle {
    background-color: #444;
}

.editorwrapper {
    display: grid;
    margin-top: 20px;
    gap: 20px;
    grid-auto-rows: 365px;
    background-color: #333;
    min-height: calc(100% - 75px);
}

.editor {
    background-color: #444;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.editorImg {
    background-color: #eee;
}

.editorAbout {
    margin: 20px;
}

.editorAbout h2 {
    font-weight: 900;
    margin: 0px;
}

.editorAbout p {
    max-width: 50%;
    font-weight: 300;
}


