html,
body {
    padding: 0px;
    margin: 0px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body.stop-transitions * {
    transition: none !important;
}

nav {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #005F54;
    height: 45px;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .2s;

}

button {
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: #F6F8F9;
    border-radius: 12.5px;
    padding-left: 25px;
    padding-right: 25px;
    height: 25px;
    transition: all .2s;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
}

button:focus {
    outline: 0;
}

button:hover {
    box-sizing: border-box;
}

.leftButton {
    grid-column: 1/2;
    text-align: left;
    cursor: pointer;
    justify-self: flex-start;
    background-color: transparent;
    border-radius: 0px;
    padding-left: 0px;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 25px;
    line-height: 14px;
    font-size: 14px;
    text-decoration: none;
    padding-right: 25px;
    width: auto;
    cursor: pointer;
}

.leftbutton .icon {
    border-radius: 12.5px;
    height: 25px;
    width: 25px;
    background: url('img/value.png') no-repeat left center;
    background-size: 25px;
    padding-right: 12.5px;
}

.rightButton {
    grid-column: 3/4;
    text-align: right;
    cursor: pointer;
    justify-self: flex-end;
    background-color: transparent;
    border-radius: 0px;
    padding-left: 0px;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 25px;
    line-height: 14px;
    font-size: 14px;
    text-decoration: none;
    padding-left: 25px;
    width: auto;
    cursor: pointer;
}

.rightbutton .icon {
    border-radius: 12.5px;
    height: 25px;
    width: 25px;
    background: url('img/value.png') no-repeat right center;
    background-size: 25px;
    padding-left: 12.5px;
}

.rightButton:hover,
.leftButton:hover,
.logo:hover {
    border: none;
}

.rightButton:focus,
.leftButton:focus,
.logo:focus {
    background-color: transparent;
}

.logo {
    grid-column: 2/3;
    text-align: center;
    font-weight: 900;
    justify-self: center;
    align-self: center;
    color: white;
    background-color: transparent;
    border: none;
}

section {
    overflow-y: auto;
}

.content {
    display: flex;
    flex-direction: row;
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 45px);
    transition: all .2s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.wrapper {
    width: calc(100vw - 40px);
    max-width: 1250px;
    height: auto;
    overflow: auto;
}

nav {
    transform: translate(0, 0vh);
}

#content0 {
    transform: translate(0vw, 0vh);
}

#content1 {
    transform: translate(-100vw, 0vh);
}

#content2 {
    transform: translate(0vw, 0vh);
    padding-top: 0px;
    padding-bottom: 0px;
}

#content3 {
    transform: translate(100vw, 0vh);
}

#content4 {
    transform: translate(200vw, 0vh);
}

#content5 {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    z-index: 10000;
    transform: translate(0vw, 0);
}

.splash {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.homewrapper {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-content: center;
    padding-left: auto;
    padding-right: auto;
    align-items: center
}

.homewrapper h1 {
    justify-self: center;
    align-self: center;
    font-size: 135px;
    padding: 0px;
    margin: 0px;
}

.homewrapper p {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.explore {
    position: fixed;
    bottom: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.explore:hover {
    background-color: white;
    color: #000000;
    border: 1px solid transparent;
}

.header {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: center;
    font-weight: 900;
    color: #222;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.nominatewrapper {
    display: grid;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    height: calc(100% - 55px);
}

.form {
    display: flex;
    flex-direction: column;
}

.formselection {
    display: flex;
}

.formentry {
    height: auto;
    margin-bottom: 30px;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.nominateselection {
    margin-left: 20px;
    align-self: center;
    border: 1px solid transparent;
}

.submit {
    margin-top: auto;
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 20px;
    background-color: #005F54;
    color: white;
}

textarea {
    grid-column: 1/4;
    box-sizing: border-box;
    background-color: transparent;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px #FFAC31 solid;
    width: calc(100% - 10px);
    margin-left: 10px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    transition: .2s all;
}

.dropdown:focus {
    height: calc(100vh - 645px);
    min-height: 25px;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #737373;
}

.illustration {
    justify-self: flex-end;
    align-self: center;
    width: 90%;
}

.filter {
    height: 75px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    position: sticky;
    position: -webkit-sticky;
    background-color: #ffffff;
    top: 0px;
}

.search {
    width: 30%;
    margin: 0px;
    height: 35px;
    padding: 0px;
    border: none;
    line-height: 35px;
    font-size: 18px;
}

.filterlabel {
    margin-left: auto;
    margin-right: 0px;
    font-size: 14px;
}

#filterbuttonwrapper {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-end;
    margin-left: auto;
}

.filterbuttoninner {
    display: inline-flex;
}

.filterbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 25px;
    line-height: 14px;
    font-size: 14px;
    text-decoration: none;
    padding-right: 25px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid transparent;
}

.filterbutton .icon {
    border-radius: 12.5px;
    height: 25px;
    width: 25px;
    background: url('img/value.png') no-repeat left center;
    background-size: 25px;
    padding-right: 12.5px;
}

.filterDiv {
    height: 0px;
    width: 0px;
    color: transparent;
    overflow: hidden;
    transition: ease-in-out .2s;
}

.show {
    margin-top: 40px;
    height: 365px;
    width: calc((100vw - 80px) / 2);
    max-width: 605px;
    color: #222;
    transition: ease-in-out .2s;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.filterbutton:hover,
.nominateselection:hover {
    background-color: #F6F8F9;
    color: #005F54;
    border: 1px solid transparent;
}

.filterbutton:focus,
.nominateselection:focus {
    background-color: #005F54;
    color: white;
    border: 1px solid transparent;
}

.businesswrapper {
    display: flex;
    flex-wrap: wrap;
}

.botd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
}

.botdimg,
.businessimg {
    max-width: 100%;
    height: 365px;
    width: auto;
    object-fit: cover;
}

.botdContent,
.businessContent,
.abtbusiness,
.editorAbout {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding: 20px;
    height: 365px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider {
    border-bottom: 1px solid #FFAC31;
}

h2 {
    font-weight: 900;
    font-size: 30px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #005F54;
}

h3 {
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

p {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botdButtonwrapper {
    margin-top: auto;
    align-self: flex-end;
}

.botdbutton,
.businessbutton {
    background-color: #005F54;
    color: white;
    margin-left: 20px;
    margin-top: auto;
    align-self: flex-end;
}

.botdbutton:hover,
.businessbutton:hover,
.submit:hover {
    background-color: white;
    color: #005F54;
    border: 1px solid #005F54;
}

.botdbutton:focus,
.businessbutton:focus,
.submit:focus {
    background-color: white;
    color: #005F54;
}

.business {
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 605px;
    width: calc((100vw - 80px) / 2);
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 10px;
    margin-left: 10px;
    height: 365px;
}

@media only screen and (max-width: 950px) {

    .filter {
        height: 95px;
        flex-direction: column;
        padding-top: 20px;
    }

    .search {
        align-self: flex-start;
    }

    #filterbuttonwrapper {
        align-self: flex-start;
        margin-right: auto;
        margin-left: 0px;
    }

    .filterbutton {
        padding: 0px;
    }

    .filterbuttoninner {
        display: none;
    }

    .filterbutton .icon {
        padding: 0px;
    }

    .businesswrapper {
        flex-direction: column;
    }

    .business {
        flex-wrap: wrap;
        max-width: 1250px;
        width: calc(100vw - 40px);
        margin-right: 0px;
        margin-left: 0px;
        grid-template-columns: 1fr 1fr;
    }

    .show {
        flex-wrap: wrap;
        max-width: 1250px;
        width: calc(100vw - 40px);
        margin-right: 0px;
        margin-left: 0px;
        grid-template-columns: 1fr 1fr;
    }
}

.businessIcons {
    display: flex;
    flex-direction: row;
    align-self: center;
    column-gap: 25px;
    margin-top: 20px;
}

.icons {
    width: 25px;
    height: 25px;
    margin-left: 0px;
    margin-right: auto;
}

#modal {
    display: none;
    z-index: 200;
    position: fixed;
    top: 45px;
    background-color: rgba(80, 80, 80, 0.8);
    justify-content: center;
}

.abtbusinesswrapper {
    height: 100%;
    width: calc(100vw - 40px);
    max-width: 1250px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.abtbusiness {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.abtbusiness h6 {
    color: #005F54;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    margin: 0xp;
    padding: 0px;
}

.abtbusinesswrapper img {
    max-width: 100%;
    height: calc(100vh - 85px);
    width: auto;
    object-fit: cover;
}

.infowrapper {
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;
}

.info {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

.info h5 {
    font-size: 14;
    font-weight: 300;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.principlewrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: calc(100% - 55px);
}

.principle {
    box-sizing: border-box;
    align-self: center;
    height: 100%;
    max-height: 500px;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

.A,
.B,
.C {
    border-right: 1px solid #FFAC31;
}

.principleimg {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.principletitle {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #005F54;
    font-weight: 900;
}

.editorwrapper {
    box-sizing: border-box;
    display: grid;
    margin-top: 20px;
    gap: 40px;
    grid-auto-rows: 365px;
    margin-bottom: 20px;
}

.editor {
    display: grid;
    grid-template-columns: 365px auto;
}

.editorImg {
    width: 365px;
    height: 365px;
}

.editorIcons {
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 5px;
    margin-top: auto;
}

.findeditor {
    margin-top: auto;
    margin-bottom: 0px;
}

.editoricons {
    width: 40%;
    align-self: left;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}